# =============================================
# GitHub Linguist Language Detection Configuration
# =============================================
# Mark Chromium third-party licenses and web assets as vendored
LICENSES.chromium.html linguist-vendored
*.html linguist-vendored
Winland/** linguist-vendored
Weather/** linguist-vendored
*.mp4 filter=lfs diff=lfs merge=lfs -text
